[user]
	name = vivien.cabannes@gmail.com
	email = Vivien Cabannes
[core]
	editor = nvim
	excludesfile = /Users/viviencabannes/.gitignore_global
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
