# Git bare repository
.cfg

# History
.bash_history
.bash_sessions
.lesshst
.zsh_history
.zsh_sessions
.cache
.cfg
.python_history
__pycache__/

# Key
.iex_api_token
.portfolio_optimizer_config.py
.ssh

# Auto
.local
.conda
.matplotlib/
.vim
.viminfo
.vscode
.zshrc
.rhs/
.time-monitoring/

# Mac folders
.CFUserTextEncoding
.DS_Store
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Code folder
code
